---
# Global default settings.
global:
  scrape_interval: <%= node['prometheus']['scrape_interval'] %> # By default, scrape targets every 15 seconds.
  scrape_timeout: <%= node['prometheus']['scrape_timeout'] %> # By default, timeout scrape after 10 seconds.
  evaluation_interval: <%= node['prometheus']['evaluation_interval'] %> # By default, evaluate rules every 15 seconds.

rule_files:
  - <%= node['prometheus']['alerting_rules_dir'] %>/*.rules
  - <%= node['prometheus']['recording_rules_dir'] %>/*.rules

alerting:
  alertmanagers:
   - file_sd_configs:
     - files:
       - <%= node["prometheus"]["alertmanager"]["inventory"] %>

scrape_configs:
<% node['prometheus']['jobs'].sort.map do |name,job| %>
- job_name: "<%= name %>"
  <% if job['scrape_interval'] %>
  scrape_interval: "<%= job['scrape_interval'] %>"
  <% end %>
  <% if job['scrape_timeout'] %>
  scrape_timeout: "<%= job['scrape_timeout'] %>"
  <% end %>
  metrics_path: "<%= job['metrics_path'] || "/metrics" %>"
  honor_labels: <%= job['honor_labels'] || "true" %>
  <% if job['params'] %>
  params:
    <% job['params'].each do |key, value| %>
    <%= key %>: <%= [value] %>
    <% end %>
  <% end %>
  <% if job['inventory_file_name'] || job['file_inventory'] %>
  file_sd_configs:
    - files:
      - <%= File.join(node["prometheus"]["inventory_dir"], job['inventory_file_name'] || name) %>.yml
  <% else %>
  static_configs:
    <% if job['target'].kind_of?(Array) %>
    - targets: 
      <% job['target'].each do |target| %>
      - <%= target %> 
      <% end %>
    <% else %>
    - targets: <%= [job['target']] %>
    <% end %>
  <% end %>
  <% if job['relabel_configs'] %>
  <% if !job['relabel_configs'].empty? %>
  relabel_configs:
    <% job['relabel_configs'].each do |config| %>
    - target_label: <%= config['target_label'] %>
      <% if config['source_labels'] -%>
      source_labels: <%= "[#{config['source_labels']}]" %>
      <% end -%>
      <% if config['regex'] -%>
      regex: <%= config['regex'] %>
      <% end -%>
      <% if config['replacement'] -%>
      replacement: <%= config['replacement'] %>
      <% end -%>
    <% end %>
  <% end %>
  <% end %>
  <% if job['append_server'] %>
  relabel_configs:
    - source_labels: []
      target_label: server
      replacement: <%= node['fqdn']%>
  <% end %>
<% end %>
