#!/bin/sh

exec 2>&1
export GOMAXPROCS=<%= node["cpu"]["total"] %>
exec chpst -u <%= node["prometheus"]["user"] %> \
  <%= node["alertmanager"]["binary"] %> \
<% node["alertmanager"]["peers"].each do |peer| -%>
  -mesh.peer <%= peer %>:6783 \
<% end -%>
  <%= Gitlab::Prometheus.flags_for(node, "alertmanager") %>
