#!/bin/sh

exec 2>&1
export GOMAXPROCS=<%= node["cpu"]["total"] %>
exec chpst -u <%= node["prometheus"]["user"] %> <%= node["prometheus"]["binary"] %> <%= Gitlab::Prometheus.flags_for(node, "prometheus") %>
